html, body, .viewport, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout */
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: rgb(5, 169, 169);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
}
.header a.logo {
  margin-left: 30px;
  text-decoration: none;
}
.header a.plus {
  margin-right: 30px;
  font-size: 3em;
  text-decoration: none;
}

.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  background-color: rgb(235, 245, 240);
  flex-grow: 1;
  padding: 30px;
  overflow-y: scroll;
}

.footer {
  background-color: aqua;
  width: 100%;
}



/* Sidebar */
.sidebar {
  background-color: rgb(32, 196, 152);
  min-width: 260px;
  max-width: 260px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-left: -10px;
  margin-bottom: 15px;
}

.sidebar ul li:before{
  content: "🗒️ "
}

.sidebar ul li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* HomeComponent */

.note {
  text-decoration: none;
}

.note div {
  background-color: #fff;
  min-height: 80px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(193, 188, 188);
  border-radius: 10px;
}

.note div h2 {
  margin-top: 0px;
  text-decoration: underline;
  color: black;
}

.note div p {
  color: grey;
}

/* CreateEditNote */
.create-edit-note {
  display: flex;
  flex-direction: column;
}

.create-edit-note input, .create-edit-note textarea {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px 15px 7px 15px; 
}

.create-edit-note input {
  height: 30px;
}

.create-edit-note textarea {
  height: 200px;
}

.create-edit-note button {
  width: 150px;
  background-color: cornflowerblue;
  height: 50px;
  color: #fff;
  border-radius: 10px;
}

